[build]
  command = "npm run build"
  publish = "."

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

  [[headers]]
  for = "/rss.xml"
  [headers.values]
    Cache-Control = "public, max-age=300"
